.left {
    display: flex;
    background-color: yellow;
    justify-content: flex-start;
}

#carre {
	display: flex;
    width: 50px;
    height: 50px;
    background-color: purple;
    margin: 50px auto;
    
    animation-name: changeColor, rotating;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes changeColor {
    0% {
        background-color: purple;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: green;
    }
    100% {
        background-color: purple;
    }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 2s linear infinite;
}

#carre div:hover {
	display: flex;
    background-color: orange;
    transform: rotate(1080deg);
}

.loader {
	display: flex;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius:50%;
    text-align: center;
    line-height: 90px;
    margin: 20px auto;

    animation-name: shy;
    animation-duration: 2s;

    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* Pourquoi lle délai n'affecte que le premier child? Aucune idée. Le CSS ce serait vachement bien si ça faisait ce qu'on lui dit en fait*/


.loader:nth-child(3) {
    animation-delay: 1s;
}

.loader:nth-child(4) {
    animation-delay: 2s;
}

@keyframes shy {
    from {
        background-color: white;
    }
    to {
        background-color: black;
    }
}
}

#cuby2 {
    transition: transform 3s 2s, background-color 3s, color 3s;
}

#cuby2:hover {
    transform: rotate(90deg) translateY(110px);
    color: white;
    background-color: #000;
}