.left {
    display: flex;
    text-align: center;
    background-color: yellow;
    justify-content: flex-end;
    height: 50px;
    width: 100px;
    transition: transform 1s;
}
/* C'est pas ouf en vrai mais j'ai essayé avec la méthode matrix et ça a juste fait disparaitre le truc */
.left:hover {
transform: scaleY(5);
}

#carre {
	display: flex;
    width: 50px;
    height: 50px;
    background-color: purple;
    margin: 50px auto;
    
    animation-name: changeColor, rotating;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes changeColor {
    0% {
        background-color: purple;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: green;
    }
    100% {
        background-color: purple;
    }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
/* Bon honnêtement j'en ai marre de cette balle j'ai utilisé exactement la même technique que pour les carrés et l'animation est pas foutue de se lancer donc je sais pas ce qui se passe mais là ça me gonfle je vais retourner coder des choses qui marchent*/
#balle {
	display: flex;
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius:50%;

    animation-name: bounce;
    animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
        transform: translateY(0px);
    }
    40% {
        transform: translateY(180px);
    }
    60% {
        transform: translateY(80px);
    }
    80% {
        transform: translateY(180px);
    }
    90% {
        transform: translateY(140px);
    }
    100% {
        transform: translateY(180px);
    }
}

#loadersection {
	margin-top: 200px;
}

.loader {
	display: flex;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius:50%;
    text-align: center;
    line-height: 90px;
    margin: 20px auto;

    animation-name: loading;
    animation-duration: 2s;

    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* Si je met la durée de l'animation à 1 seconde ça synchronise le premier et le troisième disque c'est trop bizarre en vrai*/


.loader:nth-child(3) {
    animation-delay: 1s;
}

.loader:nth-child(4) {
    animation-delay: 2s;
}

@keyframes loading {
    from {
        background-color: white;
    }
    to {
        background-color: black;
    }
}

#sectioncarres {
	margin-bottom: 480px;
}

.carres {
	display: flex;
	width: 20px;
    height: 20px;
    color: black;
    background-color: red;

    animation-name: fourcolors, rotation, circlearound;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.carres:nth-child(3) {
    animation-delay: 1s;
}
.carres:nth-child(4) {
    animation-delay: 2s;
}
.carres:nth-child(5) {
    animation-delay: 3s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

@keyframes circlearound {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(480px);
  }
  50% {
    transform: translateX(480px), translateY(240px);
  }
  75% {
    transform: translateY(240px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fourcolors {
    0% {
        background-color: red;
    }
    33% {
        background-color: cyan;
    }
    66% {
        background-color: blue;
    }
    100% {
        background-color: magenta;
    }
}